*.class
*~
*.lock
*.DS_Store
*.swp
*.out
*.jar

*.xtend
ISRAFEL_Workspace/visualizationDesignLanguage.DSL.ui/*
ISRAFEL_Workspace/visualizationDesignLanguage.DSL.sdk/*
ISRAFEL_Workspace/visualizationDesignLanguage.DSL.tests/*
ISRAFEL_Workspace/visualizationDesignLanguage.Model.edit/*
ISRAFEL_Workspace/visualizationDesignLanguage.Model.editor/*
ISRAFEL_Workspace/visualizationDesignLanguage.Model.tests/*
ISRAFEL_Workspace/.metadata/*

ISRAFEL_Workspace/visualizationDesignLanguage.Model/src/*/*java
ISRAFEL_Workspace/visualizationDesignLanguage.Model/src/*/impl/*

ISRAFEL_Workspace/visualizationDesignLanguage.DSL/bin/*
ISRAFEL_Workspace/visualizationDesignLanguage.DSL/src-gen/*
ISRAFEL_Workspace/visualizationDesignLanguage.DSL/xtend-gen/*
ISRAFEL_Workspace/visualizationDesignLanguage.Model/bin/*

Runtime_Workspace/bin/*
Runtime_Workspace/.metadata/*

runtime-New_Eclipse_Application/.metadata/*

Eclipse.app/*