*.class
*~
*.lock
*.DS_Store
*.swp
*.out
*.jar

*.xtend
ISRAFEL_Workspace/*.DSL.ui/*
ISRAFEL_Workspace/*.DSL.sdk/*
ISRAFEL_Workspace/*.DSL.tests/*
ISRAFEL_Workspace/*.Model.edit/*
ISRAFEL_Workspace/*.Model.editor/*
ISRAFEL_Workspace/*.Model.tests/*
ISRAFEL_Workspace/.metadata/*

ISRAFEL_Workspace/*.Model/src/*/*java
ISRAFEL_Workspace/*.Model/src/*/impl/*

ISRAFEL_Workspace/*.DSL/bin/*
ISRAFEL_Workspace/*.DSL/src-gen/*
ISRAFEL_Workspace/*.DSL/xtend-gen/*
ISRAFEL_Workspace/*.Model/bin/*

Runtime_Workspace/bin/*
Runtime_Workspace/.metadata/*

runtime-New_Eclipse_Application/.metadata/*

Eclipse.app/*