<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated visualizationDesignLanguage -->
      <package
            uri="fr.uns.i3s.sparks.modalis.israfel.visualisationdesignlanguage"
            class="visualizationDesignLanguage.VisualizationDesignLanguagePackage"
            genModel="model/visualizationDesignLanguage.genmodel"/>
   </extension>

</plugin>
