<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sensorDeploymentLanguage -->
      <package
            uri="fr.uns.i3s.sparks.modalis.israfel.sensordeploymentlanguage"
            class="sensorDeploymentLanguage.SensorDeploymentLanguagePackage"
            genModel="model/sensorDeploymentLanguage.genmodel"/>
   </extension>

</plugin>
